@media (max-width: 1200px) {
  .main {
    margin-top: 94px;
  }
  .img_iphone {
    width: 100%;
  }
  .about_us_text {
    width: 100%;
    margin-top: 20px;
  }
  .about_us {
    padding-bottom: 25px;
  }
  .container {
    width: 97%;
  }
  .img_work_content {
    width: 100%;
    text-align: center;
    float: none;
  }
  .img_work_wrapper .img_work_content:nth-child(-n+2) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .img_work_wrapper .img_work_content:nth-child(n+4):nth-child(-n+5){
    margin-right: 0;
  }
  .img_work_wrapper .img_work_content:nth-child(3n){
    margin-bottom: 80px;
  }
  .img_work_wrapper .img_work_content:last-child {
    margin-bottom: 0;
  }
  .work .work_text {
    float: none;
    width: 100%;
    margin: 0 0;
  }
  .work_button {
    float: none;
    width: 100%;
    margin-top: 40px;
  }
  .skill_meters figure:nth-child(-n+3) {
    margin-right: 0;
    margin-bottom: 88px;
  }
  .skill_meters figure {
    float: none;
  }
  .fa-3x {
    font-size: 4em;
  }
}
@media (max-width: 767px) {
  .main {
    margin-top: 110px;
  }
  .theme {
    padding: 160px 0 130px 0;
  }
  .theme_br {
  display: block;
  }
  .theme .main_titile {
    font-size: 80px;
  }
  .sns .sns_icons {
    display: block;
  }
  .sns .sns_icons div {
    float: none;
    width: 100%;
  }
  .sns{
    padding: 50px 15px;
  }
  .fa-3x {
    font-size: 5em;
  }
  .sign_wrapper {
    padding: 30px 0 45px 0;
  }
  .sign_wrapper .container {
    width: 90%;
  }
  .creaters-sign {
    font-size: 23px;
  }
  .contact_button {
    display: none;
  }
  .wrapper_menu-bars {
    display: block;
  }
  .under_menu-bar {
    width: 100%;
    z-index: 999;
    display: block;
  }
  .contact_button_under {
    display: block;
    font-size: 12px;
    padding: 10px 0;
    color: white;
    background-color: #74cfae;
    transition: 0.3s;
    padding-left: 10px;
  }
}